@use './../../../utilities/css/colors';


.response-table-container {

    /* Force scrollbar to appear
    * Credits to @Codemaker from 
    * https://stackoverflow.com/questions/35663653/ */
      ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: colors.$form-outline-unselect;
        -webkit-box-shadow: colors.$scroll-bar;
    }

    .truncate-text {
        display: block;
        max-width: 25vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* Response Table */
    .MuiPaper-root {
        height:60vh;
        width: 80vw;
        overflow: auto;   
    }

}

@media screen and (max-width: 1366px) {
   
    .response-table-container {

        .MuiPaper-root {
            height:50vh;
            width: 75vw;
        }
   }
}

@media screen and (max-width: 450px) {
    .response-table-container {

        .MuiPaper-root {
            height:50vh;
            width: 85vw;
        }

        .truncate-text {
            max-width:50vw;
        }

    }
}