/* Global CSS Colors */
/* Colors from https://www.materialpalette.com/ */
$primary-color-dark:   #00796B;
$primary-color-darker: #005b51;
$primary-color-darkest: #02332d;
$primary-color:        #009688;
$primary-color-light:  #B2DFDB;
$primary-color-lighter: #BEEAE6;
$primary-color-text:   #FFFFFF;
$accent-color:         #009688;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

/* Warning */
$primary-warning-color: #e57373;
$primary-warning-light: #ef9a9a;

$white: #fff;

/* Form Field Color */
$form-text-label: #666666;
$form-outline-unselect: #C4C4C4;
$form-fill-disabled: #fcf7f7;