@use './../../../../../utilities/css/colors';

.observation-question-li {
    border:1px solid colors.$form-outline-unselect;
    padding: 1rem;
    border-radius:0.3em;

    .observation-question-index {
        margin-right:0.5rem;
        font-weight:800;
    }

    .observation-question-type {
        margin-right:0.5rem;
        background-color:colors.$primary-color;
        border-radius:0.3em;
        color:colors.$white;
        padding:0.3rem;
        font-size:0.7em;
        font-weight:500;
        text-transform:uppercase;
        letter-spacing:0.1em;

        &:hover{
            cursor:default;
        }
    }

    .observation-question-prompt {
        font-weight:500;
    }

    .observation-response-text {
        display:flex;
        margin-top:0.7rem;
    }
}