@use './../../utilities/css/colors';

.single-project-container {
    
    .description-container {

        .description-paragraph-title{
            text-transform: uppercase;
            font-weight:500;
            color: colors.$divider-color;

        }

        .description-paragraph {
            max-height:100px;
            overflow-y:auto;
            padding-right:1em; 
            
        }
    
        /* Force scrollbar to appear
         * Credits to @Codemaker from 
         * https://stackoverflow.com/questions/35663653/ */
        ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 10px;
        }
        
        ::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: colors.$form-outline-unselect;
            -webkit-box-shadow: colors.$scroll-bar;
        }
    }

    .delete-project-button {
        all:unset;
        background-color: colors.$primary-color-lighter;
        padding:0.5rem;
        border-radius:0.3rem;
        margin-top:0.5rem;
        font-size:0.9em;
        display:flex;
        font-weight:500;
        
        &:hover {
            background-color:colors.$primary-color-darkest;
            color:colors.$primary-color-text;
            cursor:pointer;
        }
    }

    
    .project-code-container {
        display:flex;
        width:300px;
        justify-content: center;
        align-items:center;
        padding-right:0.5rem;

        .project-code-title {
            text-transform: uppercase;
            padding:0.5em;
            color: colors.$secondary-text-color;
            font-weight:500;
        }

        .project-code-string {
            display:flex;
            justify-content:center;
            align-items:center;
            padding:0.5em;
            border: 2px solid colors.$divider-color;
            border-radius: 0.4rem;
            font-family: "Lucida Console", "Courier New", monospace;
            font-weight:bold;
            color:colors.$form-text-label;

            .project-code-icon {
                margin-right:0.5rem;
                color:colors.$divider-color;
            }
        
        }
    }

    .download-csv-button {
        all: unset;
        display: flex;
        width:300px;
        align-items: center;
        text-align: center;
    
        color:colors.$primary-color-text;
        justify-content: center;
        height:3rem;
        border-radius:0.3em;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight:800;
    


        .download-csv-icon{
            margin-right:0.4em;
        }
    }

    .download-available {
        background-color:colors.$primary-color-darker;

            &:hover {
                background-color:colors.$primary-color-darkest;
                color:colors.$primary-color-text;
                cursor:pointer;
            }
    }

    .download-unavailable {
        background-color:colors.$form-outline-unselect;
    }

}

@media screen and (max-width: 450px) {
    .single-project-container {
        .project-code-container {
            width:90vw;
        }
        .download-csv-button {
            width:90vw;
        }
    }
}
