@use './../../../../utilities/css/colors';

.range-input {

    .MuiFormControlLabel-root {
        padding-top:1rem;  
        padding-left:4rem;
    }
    
    .MuiFormControlLabel-label {
        color: colors.$form-text-label;
    }
    
    .MuiTextField-root {
        & input:disabled {
            background-color:colors.$form-fill-disabled;
            /* Hide text when range limit is disabled */
            font-size:0em;
            padding:1.75rem;
        }
    }   
    
   

}

@media screen and (max-width: 1500px) {

    .range-input {

        .MuiFormControlLabel-root {
            padding-left:2rem;
        }
    }
}

@media screen and (max-width: 1200px) {

    .range-input {
        
        .MuiFormControlLabel-root {
            padding-left:1rem;
        }
    
        .MuiFormControlLabel-label {
            display:none;
        }
    }  
}

@media screen and (max-width: 600px) {

    .range-input {

        .MuiFormControlLabel-root {
            padding-left:0rem;
        }
    
        .MuiFormControlLabel-label {
            display:inline-block;
        }
    }
  
}

