@use './../../utilities/css/colors';

.random-project-button {
    all:unset;
    background-color: colors.$primary-color-lighter;
    padding:0.5rem;
    border-radius:0.3rem;
    margin-top:0.5rem;
    font-size:0.9em;
    display:flex;
    font-weight:500;

    .random-shuffle-icon {
        height:0.7em;
    }

    &:hover {
        background-color:colors.$primary-color;
        color:colors.$primary-color-text;
        cursor:pointer;
    }
}