@use './../../utilities/css/colors';

.form-container {
    display:inline-flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    width:100vw;
    background-color:colors.$primary-color;

    .signup-form {
        margin:auto;
        text-align:center;
        padding:3em;
        width:25vw;
        background-color:colors.$white;

        h1 {
            color: colors.$primary-text-color;
        }

        .signup-button {
            all:unset;
            display: block;
            width: 100%;
            align-items: center;
            text-align: center;
            background-color:colors.$primary-color-darker;
            color:colors.$primary-color-text;
            justify-content: center;
            height:3rem;
            border-radius:0.3em;
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-weight:800;
            font-size:1.3rem;
        
            &:hover {
                background-color:colors.$primary-color-darkest;
                color:colors.$primary-color-text;
                cursor:pointer;
            }
        }

        .login-message {
            color:colors.$form-text-label;

            a {
                color:colors.$primary-color;
            }

            a:hover {
                color:colors.$primary-color-darkest;
            }
        }

    }    
}

@media screen and (max-width: 1500px) {
    .form-container {
        .signup-form {
            width: 35vw;
        }
    }
}

@media screen and (max-width: 1100px) {
    .form-container {
        .signup-form {
            width: 45vw;
        }
    }
}

@media screen and (max-width: 768px) {
    .form-container {
        .signup-form {
            width: 80vw;
        }
    }
}

@media screen and (max-width: 320px) {
    .form-container {
        .signup-form {
            padding:1.4rem;
            width: 100vw;
            height: 100vh;
        }
    }
}